/* Base */

:root {
  --color-body: #333333;
  --background-body: #ffffff;
}

* {

  color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-body);
  margin: 0;
  background: var(--background-body);
  background-color:#778899;
}
  h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  text-align: left;

}

h1,
.h1 {
  font-size: 3.1rem;
  text-align: center;
}

h1 {
  text-align: center;
}

h2,
.h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #fff;
    border-bottom: 3px solid #78788c;
}

h2.tect{
  color: #78788c;
  font-size: 15px;
  text-align: left;
}

h3,
.h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 50px;
}





a {
  text-decoration: none;
  color: #B59970;

}

.btn-reservation{



  padding: 5px 20px;
  transition: 0.5s;
  font-weight: bolder;
}


img.minia{
  border-radius: 10%;
}

/* Style the video: 100% width and height to cover the entire window */
#background-video {
  opacity: 1;
  width: 100%;
  height: auto;
}

@media screen and (max-width:981px) {
  .btn-reservation {
    display: none;
  }


}

@media screen and (min-width:400px) {
  .header{
    position: sticky;
    width: 100%;
  }
}



button{
  margin-bottom: 23vh;
  float: right;
  width: 20vw;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  background: 0;
  color: #B59970;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  float: left;
}


button.butt{
  justify-content: center;
}


.paraph {
  text-align: center;
}



img {
  max-width: 100%;
  height: auto;
}

img.logo2{
  height: 150px;
}

ul {
  padding-left: 2rem;
  color: #B59970;
}

li {
  margin-bottom: 1rem;
  text-align: left;
}


.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.category {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  color: #5b6c78;
}

.container {
  padding: 1rem 2rem;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.grid {
  display: grid;

}

.grid__item {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  padding: 1rem;
}

@media screen and (min-width:750px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }

  .grid__item {
    max-width: 50%;
  }
}

@media screen and (min-width: 700px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Sections */


section {
  padding: 5.5rem 0;
}

.section-title {
  margin-top: 0;
  font-size: 3.8rem;
  border: none;
}


@media screen and (min-width:750px) {
  .section-title {
    font-size: 4.8rem;
  }
}

.header {

  background-color: #696969;
  position: sticky;
  top: 0;
  z-index: 1;
}

#Mentions{
  display: flex;
  flex-direction: column;
}

.Mentions {
  justify-content: center;
  color: white;
  cursor: pointer;

  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.mentions-title{
  text-align: left;
}



.header li {
  display: inline-flex;
  align-items: center;
  padding: 0 .5rem;
}

.header a {
color: #fff;
font-weight: 600;
display: inline;
}

.header a:hover {
  color: #B59970;
}

.header .right {
  display: flex;
  align-items: center;
}

.socials {
  display: flex;
}

.socials li {
  margin-bottom: 0;
}

.socials a {
  padding: 0 2px;
}

.socials .icon {
  height: 18px;
}

.burger {
  background: none;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: relative;
  margin-left: 1rem;
  text-decoration: none;
}

.burger .bar {

  width: 22px;
  height: 3px;
  background: #B59970;
}

.burger .bar::before,
.burger .bar::after {

  content: "";
  width: 22px;
  height: 3px;
  background: var(--color-body);
  position: absolute;
}

.burger .bar::before {
  transform: translateY(-8px);
}

.burger .bar::after {
  transform: translateY(8px);
}

@media screen and (max-width:749px) {
  nav {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 55px;
    left: 110%;
    width: 0;
    overflow: hidden;
    opacity: 0;
    height: calc(100vh - 55px);
    background: #F5F5F5;
    transition: all .4s ease-out;
  }

  nav .menu li {
    display: flex;
    justify-content: center;
  }

  nav .menu a {

    font-size: 2rem;
    padding: 2rem;
    transition: all .4s;
  }

  .show-nav nav {
    opacity: 1;
    width: 100%;
    left: 0;
    z-index: 2;
    background: #555;
  }

  .show-nav nav li a:hover {
    transform: scale(1.1);
    text-decoration: none;
  }

  .show-nav .burger .bar {
    width: 0;
  }

  .burger .bar::before,
  .burger .bar::after {
    transition: all .2s ease-out;
  }

  .show-nav .burger .bar::before {
    transform: rotate(-45deg);
  }

  .show-nav .burger .bar::after {
    transform: rotate(45deg);
  }
}

@media screen and (min-width:750px) {
  .navbar {
    display: flex;
  }


}

.hero {

    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}


section {
    padding: 0 10%;
}

.hero .title {
  color: inherit;
  font-size: 4rem;
  margin: 1.6rem 0 0 0;
  font-weight: 00;


}

.hero__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__item span {
  text-transform: uppercase;
}

.hero__p {
  animation-duration: 1s;
  animation-name: slideInleft;
}

.hero__item.right {
  animation-duration: 1s;
  animation-name: slideInRight;
}

#content-mention {
  display: none;
}

#content-about {
  display: none;
}

@media screen and (max-width:749px) {
  .hero__item.left {
    order: 2;
  }

  .hero__item.right {
    order: 1;
  }
}

@media screen and (min-width:750px) {
  .hero__item {
    flex: 1 0 50%;
    text-align: left;
  }

  .hero__item.left {
    align-items: flex-start;
  }

  .hero .title {
    font-size: 5rem;
  }

  .hero__avatar img {
    max-width: 400px;
    border-radius: 50%;
  }

}

.about .section-title {
  margin-top: 240px;
  text-align: inherit ;
}

@media screen and (min-width:750px) {
  .about img {
    padding-right: 3rem;
  }
}


@media screen and (max-width:1565px) {
  .header {
    background: #696969;
    position: sticky;
    top: 0;
    z-index: 1;
  }
}






@media screen and (max-width:749px) {
  .service {
    text-align: center;
  }

  .service__icon {
    margin: 0 auto;
  }
}

@media screen and (min-width:750px) {
  .service {
    display: flex;
    align-items: center;
  }

  .service__icon {
    margin-right: 2rem;
  }
}





.portfolio .grid__item {
  max-width: 50%;
  margin-bottom: 0;
  opacity: 1;
  transition: all 1s ease;
}

.portfolio .grid__item.hide {
  opacity: 0;
  max-width: 0;
  padding: 0;
  overflow: hidden;
  transition: all .4s ease;
}

.portfolio-filters .grid__item {
  max-width: 50%;
  margin-bottom: 0;
}

.portfolio-filters a {
  color: var(--color-body);
  background: #EEE;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 1rem;
}

.portfolio-filters a.active {
  color: #B59970;
  background: #5b6c78;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 4;
  transform: scale(0);
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}

.show.modal {
  transform: scale(1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
}

.modal__content {
  background-color: #444444;
  height: 100vh;
  padding: 5rem 1rem;
  overflow: auto;
  text-align: left;
}

.modal img {
  margin-bottom: 2rem;
}

.modal__title {
  margin: 0 0 2rem;
}

.modal__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;

  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 3.1rem;
  color: #666;
  cursor: pointer;
}

.modal .grid__item {
  max-width: 100%;
  margin-bottom: 0;
  opacity: 1;
  transition: all 1s ease;
}

@media screen and (max-width:749px) {
  .portfolio a {
    font-size: 1.4rem;
  }
}

@media screen and (min-width:750px) {
  .portfolio .grid__item {
    max-width: 33.3333%;
  }

  .portfolio-filters .grid__item {
    max-width: 25%;
  }

  .modal__content {
    padding: 3rem;
  }

  .modal .grid__item {
    max-width: 50%;
  }
}

.card {
  background: #585858;
  text-transform: uppercase;
  position: relative;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);

  overflow: hidden;
}

.card__inner {
  padding: 2rem;
}

.card__title {
  margin: 0 0 1rem;
  font-size: 1.6rem;
}

.card__overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;

  z-index: 0;
  width: 100%;
  height: 100%;
  top: 110%;
  transition: all .3s;

}

.card__overlay a {
  font-size: 4.5rem;
  color: #B59970;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card:hover .card__overlay {
  top: 0;
}

.form {
  width: 340px;
  height: 160px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  position: relative;
}

.div_f {
  content: "Hi";
  position: absolute;
  text-align: center;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}

.form input,
.form textarea {

  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.form textarea {
  min-height: 200px;
}

.form .btn {
  border: none;
  background: var(--color-body);
  color: #B59970;
  width: auto;
  min-width: 160px;
  font-size: 2rem;
  text-transform: uppercase;
}

.form .btn:hover {
  cursor: pointer;
  background: #000;
}

/* Footer */

footer {
  background: #000;
  color: #EEE;
  text-align: center;
  font-size: 1.4rem;
}

footer p {
  margin: 0;
  white-space: pre-line;
  margin-left: 90px;
}
footer .grid {
  align-items: center;
}

footer .socials {
  justify-content: center;
  text-align: center;
}

footer .socials li {
  padding: 0 .7rem;
}

footer .socials a {
  color: #B59970;
  border: 1px solid #FFF;
  border-radius: 50%;
  padding: 1rem;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  transition: all .4s;
}

footer .socials a:hover {
  background: #FFF;
  color: var(--color-body);
}


.adress {
  display: grid;

  text-align: center;
  width: 100%;
}

.toto {
  color: #555;
}

@media screen and (min-width:750px) {
  footer {
    text-align: left;
  }

  footer .grid__item {
    max-width: 33.333%;
  }
}

@keyframes slideInleft {
  from {
    transform: translateX(-110%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(110%);
  }

  to {
    transform: translateX(0);
  }
}


/* Blog */

.blog h1 {
  text-align: center;
}

.blog__text {
  margin-bottom: 3rem;
}

.article__card {
  position: relative;
  margin-bottom: 2rem;
}

.article__img {
  opacity: 0.9;
}

.article__card:hover img {
  opacity: 1;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

@media screen and (min-width:750px) {
  .d-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
  }

  .content-grid {
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-column-gap: 2rem;
    grid-template-areas:
      "article sidebar"
  }

  .article {
    grid-area: article;
  }

  .sidebar {
    grid-area: sidebar;
  }
}

@media screen and (min-width: 700px) {
  button {
    float: right;
  }
}

@media screen and (min-width: 700px) {
  .adress {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .adress {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
